* {
-webkit-text-stroke: 5px white;
font-size: 64px;
font-family: bold;
color: white;
line-height: 48px;
letter-spacing: -2px;
list-style-type: none;
text-indent: 0;
padding: 16px;
margin: 0;
background: green;
}