@font-face {
    font-family: "xtm";
    src: url("../font/xtm-Regular.woff2");
}


body {
font-family: serif;
background: yellow;
}

h1 {
font-family: black;
font-size: 56px;
}

h2 {
font-family: black;
font-size: 56px;
margin-bottom: 0;
}

p {
font-family: bold;
line-height: 22px;
}

ul {
font-family: bold;
}

ul#character_variants, ul#name_variants {
list-style-type: circle;
font-family: "xtm";
font-size: 2em;
}
